a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  margin: auto;
}

body {
  font-family: "Inter", sans-serif;
  color: #475467;
}

header {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  font-size: 12pt;
  padding: 24px 64px;
  margin: 24px 80px;
  border-radius: 8px;
  background: var(--base-white, #FFF);
}

.navbar-expand-lg {
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #475467;
}

.nav__wed {
  font-weight: 600;
  font-size: 12pt;
  padding: 16px 48px;
  margin: 24px 80px;
  border-radius: 8px;
  background: var(--base-white, #FFF);
  z-index: 1;
  border: #98A2B3 solid 1px;
}

.navbar-collapse {
  flex-grow: 0;
}

.content-main {
  width: auto;
  display: flex;
  padding: 0 32px;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.margin-px-auto {
  margin: 176px 240px 104px;
}

.home-init {
  display: flex;
}

.initial {
  padding: 0px 2px;
}

.wed-info {
  display: flex;
  gap: 32px;
}

h1 {
  font-size: 40pt;
  font-weight: 500;
  line-height: 64px;
}

#guest-name {
  font-weight: 600;
}

#reg-prompt {
  font-weight: 600;
}

.prompts-main {
  font-size: 24pt;
  margin-top: 72px;
}

footer {
  background-color: #FFF;
  width: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 268px;
  flex-wrap: wrap;
  padding-bottom: 80px;
  justify-content: space-between;
  padding-top: 32px;
}

hr {
  border: none;
  background-color: #475467;
  display: flex;
  flex: 0 0 100%;
  opacity: 30% !important;
}

.prompt-div {
  height: 5px;
  width: 22px;
  margin-left: 8px;
  margin-top: 32px;
}

.foot-div {
  height: 2px;
}

#credit {
  text-align: right;
  opacity: 50%;
}

#typeform {
  opacity: 50%;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 2rem;
    padding-right: 0rem;
  }
}
@media (max-width: 1280px) {
  .margin-px-auto {
    margin: 176px 100px 104px;
  }
  h1 {
    font-size: 22pt;
    line-height: 30px;
  }
  .prompts-main {
    font-size: 16pt;
    margin-top: 40px;
  }
  footer {
    padding: 0px 112px;
  }
}
@media (max-width: 584px) {
  #credit {
    text-align: center;
    margin-top: 16px;
    margin-left: 17px;
    margin-right: 17px;
  }
  #typeform {
    text-align: center;
    margin-right: 17px;
    margin-left: 17px;
  }
  footer {
    justify-content: center;
  }
}
.padding-card-area {
  padding: 0 40px;
}

.margin-px-gifts {
  margin: 176px 240px 214px;
}

.gift-area {
  display: grid;
  grid-template-areas: "giftmain giftmain" "gift1 gift2" "gift3 gift4";
  row-gap: 16px;
  column-gap: 16px;
}

#gift-main {
  grid-area: giftmain;
}

.gift-card {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card {
  border-color: #98A2B3;
}

.gift-info {
  text-align: center;
}

.gift-name {
  font-size: 24pt;
  font-weight: 600;
}

.gift-desc {
  font-size: 12pt;
}

.gift-goal {
  font-size: 12pt;
}

.prog-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 24px;
}

.progress-bar {
  background-color: #475467;
}

.btn-outline-primary {
  --bs-btn-color: #475466;
  --bs-btn-border-color: #475467;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #475467;
  --bs-btn-hover-border-color: #475467;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #475467;
  --bs-btn-active-border-color: #475467;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #475467;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #475467;
  --bs-gradient: none;
}

.btn {
  padding: 12px 20px;
  margin-bottom: 16px;
}

.gift-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1280px) {
  .margin-px-gifts {
    margin: 176px 100px 214px;
  }
}
@media (max-width: 848px) {
  .gift-area {
    grid-template-areas: "giftmain" "gift1" "gift2" "gift3" "gift4";
  }
}
@media (max-width: 584px) {
  .margin-px-gifts {
    margin: 176px 40px 214px;
  }
  .gift-name {
    font-size: 20pt;
  }
  .gift-desc {
    font-size: 12pt;
  }
}
.venue-section {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.h2-div {
  height: 5px;
  width: 22px;
  margin-left: 8px;
  background-color: #FFF;
  opacity: 50% !important;
}

.venue-name {
  font-weight: 600;
  margin-top: 0;
}

#venue-pic {
  background-image: url(../img/Auchen-Castle-F-scaled.jpeg);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  flex-wrap: wrap;
}

.margin-px-venue {
  margin: 176px 240px 214px;
}

.section-title {
  margin-bottom: 0px;
}

@media (max-width: 640px) {
  #venue-pic {
    height: 100%;
  }
}
@media (max-width: 1040px) {
  .margin-px-venue {
    margin: 176px 100px 214px;
  }
}
.pad-marg-accom {
  margin-top: 88px;
  padding: 0 48px;
}

.accom-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.head-message {
  font-size: 10pt;
}

.drop-accom {
  font-size: 10pt;
}

.dropdown-item {
  font-size: 10pt;
}

.dropdown-menu {
  --bs-dropdown-min-width: 8.4rem;
}
.dropdown-menu .show {
  transform: translate(0px, inherit);
}

.accom-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.card {
  color: #475467;
}

.row {
  align-items: center;
  column-gap: 10px;
}

.card-title {
  font-size: 24pt;
}

@media (max-width: 1680px) {
  .pad-marg-accom {
    margin: 176px 0px 104px;
  }
  .col-md-2 {
    width: 26%;
  }
}
@media (max-width: 1280px) {
  .pad-marg-accom {
    margin: 80px 0px 104px;
  }
}
@media (max-width: 768px) {
  .col-md-2 {
    width: 100%;
  }
  .pad-marg-accom {
    margin: 80px 0px 104px;
  }
}

/*# sourceMappingURL=styles.css.map */
