a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit

}



body {
    font-family: 'Inter', sans-serif;
    color: #475467;
}

h1 {
    line-height: 24pt;
}

header {
    font-weight: 600;
    font-size: 12pt;
    padding: 10px 40px;
    margin: 24px 80px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    gap: 0 60%;
    border-radius: 8px;
    background: var(--base-white, #FFF);
}

.content-main {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    flex-direction: column;
    
}

.margin-px-auto {
    margin: 180px auto;
}

.home-init {
    display: flex;
    margin: 0;
    
}

.wed-info {
    list-style: none;
    display: flex;
    gap: 32px;
}

h1 {
    font-size: 40pt;
    font-weight: 500;
}

#guest-name {
    font-weight: 600;
}

#reg-prompt {
    font-weight: 600;
}

.prompts-main {
    font-size: 24pt;
}


footer {
    background-color: #FFF;
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 268px;
    flex-wrap: wrap;
    padding-bottom: 80px;
    justify-content: space-between;
    padding-top: 32px;
}

hr {
    border: none;
    background-color: #475467;
    display: flex;
    flex: 0 0 100%;
    opacity: 30% !important; 
}

.prompt-div {
    height: 5px;
    width: 22px;
    margin-left: 8px;
}

.foot-div {
    height: 2px;
}

#credit {
    text-align: right;
    opacity: 50%;
}

#typeform {
    opacity: 50%;
}
