.padding-card-area {
    padding: 0 40px;
}

.margin-px-gifts {
    margin: 176px 240px 214px;
}

.gift-area {
    display: grid;
    grid-template-areas: 
    "giftmain giftmain"
    "gift1 gift2"
    "gift3 gift4";
    row-gap: 16px;
    column-gap: 16px;
}

#gift-main {
    grid-area: giftmain;
}

.gift-card {
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.card {
    border-color: $secondary-gray;
}

.gift-info {
    text-align: center;
}

.gift-name {
    font-size: 24pt;
    font-weight: 600;
}

.gift-desc {
    font-size: 12pt;
}

.gift-goal {
    font-size: 12pt;
}

.prog-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 24px;
}

.progress-bar {
    background-color: $primary-dark;
}

.btn-outline-primary {
    --bs-btn-color: #475466;
    --bs-btn-border-color: #475467;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #475467;
    --bs-btn-hover-border-color: #475467;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #475467;
    --bs-btn-active-border-color: #475467;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #475467;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #475467;
    --bs-gradient: none;
}


.btn {
    padding: 12px 20px;
    margin-bottom: 16px;
}


.gift-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1280px) {
    .margin-px-gifts {
        margin: 176px 100px 214px;
    }
}

@media (max-width: 848px) {
    .gift-area {
        grid-template-areas: 
        "giftmain"
        "gift1" 
        "gift2"
        "gift3" 
        "gift4";
    }
}

@media (max-width: 584px) {
    .margin-px-gifts {
        margin: 64px 40px 214px;
        }
    .gift-name {
        font-size: 20pt;
    }
    .gift-desc {
        font-size: 12pt;
    }
}