.venue-section {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.h2-div {
    height: 5px;
    width: 22px;
    margin-left: 8px;
    background-color: #FFF;
    opacity: 50% !important ;
}

.venue-name {
    font-weight: 600;
    margin-top: 0;
}

#venue-pic {
    background-image: url(../img/Auchen-Castle-F-scaled.jpeg);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    flex-wrap: wrap;
}

.margin-px-venue {
    margin: 176px 240px 214px;

}

.section-title {
    margin-bottom: 0px;
}

@media (max-width: 640px) {
    #venue-pic {
        height: 100%;
    }

    
}

@media (max-width: 1040px) {
.margin-px-venue {
    margin: 176px 100px 214px;
    }
}